<ion-header *ngIf="!pagoCorrecto">
    <ion-toolbar>
        <ion-title>Pagar con tarjeta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="pagoCorrecto">
        <ion-row>
            <ion-col>
                <ion-row style="place-content: center;">
                    <img src="../../../../assets/Wallpaper-Movil.png" />
                </ion-row>
                <ion-row style="place-content: center;">
                    <ion-text style="    font-weight: bold;
                    font-size: clamp(25px,1.5vw,30px);">¡GRACIAS POR SU VISITA!</ion-text>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid style="height: 100%" *ngIf="!pagoCorrecto">
        <ion-row style="height: 100%; align-content: center">
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-col style="text-align: center">
                                <ion-text style="font-weight: bold; font-size: clamp(20px, 1.5vw, 25px)">A pagar:</ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="
                  text-align: center;
                  font-weight: bold;
                  font-size: clamp(30px, 1.5vw, 35px);
                ">
                                <ion-text>{{cuentaTotal.toFixed(2)}} €</ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="text-align: center">
                                <img style="width: clamp(200px, 1.5vw, 250px)" src="../../../../assets/Iconos/credit-card-svgrepo-com.svg" />
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="text-align: center; font-weight: bold">
                                <ion-text>Datos de la tarjeta</ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col [style.margin-inline]="this.platform.is('desktop') ? '20%':''" style="border: 1pt solid grey; border-radius: 10px">
                                <div #cardInfo></div>
                            </ion-col>
                        </ion-row>
                        <ion-row style="place-content: center; font-weight: bold">
                            <div class="error" *ngIf="cardError">{{cardError}}</div>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="text-align: center">
                        <ion-button color="danger" (click)="cerrarModal()">Cancelar</ion-button>
                    </ion-col>
                    <ion-col style="text-align: center">
                        <ion-button [disabled]="!pagoValido" color="success" (click)="pedirToken()">Pagar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>