<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="cerrarModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Página de pago</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="tipoPago =='Efectivo'" style="margin-inline: 15%; margin-top: 15%">
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-col style="text-align: center; font-weight: bold;font-size: clamp(15px,1.5vw,20px);">
                        <ion-text>Total a pagar</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="text-align: center; font-weight: bold; font-size: clamp(20px,1.5vw,25px);">
                        <ion-text>{{this.ticket.precioTotal.toFixed(2)}} €</ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row>
            <!--CALCULADORA  -->
            <ion-col style="
          background-color: #e0c8b1;
          margin-bottom: 1%;
          border-radius: 10px;
        ">
                <ion-row>
                    <ion-col style="
              background-color: #a3805f;
              border-radius: 20px;
              text-align: center;
              font-weight: bold;
              color: white;
            ">
                        <ion-text>CALCULADORA</ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col style="
              background-color: white;
              border-radius: 10px;
              margin-block: 10px;
            ">
                        <ion-label style="font-weight: bold">Cantidad entregada</ion-label>
                        <ion-input type="number" [(ngModel)]="cantidadEntregada">€</ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngIf="cantidadEntregada - this.ticket.precioTotal > 0" style="
              margin-block: 10px;
              background-color: white;
              border-radius: 10px;
            ">
                        <ion-label style="font-weight: bold">Cantidad a devolver</ion-label>
                        <ion-input value="{{Math.abs(cantidadEntregada- this.ticket.precioTotal).toFixed(2)}}" readonly>€</ion-input>
                    </ion-col>
                    <ion-col *ngIf="cantidadEntregada - this.ticket.precioTotal < 0" style="
              margin-block: 10px;
              background-color: white;
              border-radius: 10px;
            ">
                        <ion-label style="font-weight: bold">Faltan</ion-label>
                        <ion-input value="{{Math.abs(cantidadEntregada- this.ticket.precioTotal).toFixed(2)}}" readonly>€</ion-input>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="text-align: center">
                <ion-button (click)="finalizarCobro()">Finalizar pago</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>