<!-- <ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-grid style="height: 100%;
    align-items: center;">
        <ion-row style="place-content: center;">
            <img src="../../../assets/Wallpaper.png">
        </ion-row>
        <ion-row style="width: 100%;">
            <ion-col>
                <ion-card style="background-color: #A3805F;">
                    <form [formGroup]="this.formularioLogin">
                        <ion-grid>
                            <ion-row>
                                <ion-item lines="none" style="width: 100%;">
                                    <ion-label position="stacked" style="font-weight: bold;">Email</ion-label>
                                    <ion-input type="email" formControlName="email"></ion-input>
                                </ion-item>

                                <div class="errores-validaciones" style="width: 100%;">
                                    <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.email">
                                        <div class="mensaje-error" *ngIf="formularioLogin.get('email').hasError(validacion.type) && (formularioLogin.get('email').dirty || formularioLogin.get('email').touched)">
                                            <p>
                                                <ion-icon name="alert-circle"></ion-icon>
                                                {{validacion.message}}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-row>
                            <ion-row>
                                <ion-item lines="none" style="width: 100%;">
                                    <ion-label position="stacked" style="font-weight: bold;">Contraseña</ion-label>
                                    <ion-input type="password" formControlName="password"></ion-input>
                                </ion-item>

                                <div class="errores-validaciones" style="width: 100%;">
                                    <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.password">
                                        <div class="mensaje-error" *ngIf="formularioLogin.get('password').hasError(validacion.type) && (formularioLogin.get('password').dirty || formularioLogin.get('password').touched)">
                                            <p>
                                                <ion-icon name="alert-circle"></ion-icon>
                                                {{validacion.message}}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-row>
                            <ion-item lines="none" style="--background : tranparent;">
                                <ion-label style="text-align : right; color: white;"> Recordarme</ion-label>
                                <ion-checkbox formControlName="recordarusuario" [(ngModel)]="variables.recordarUsuario" slot="end" color="primary" (click)="cambiarRecordar()"></ion-checkbox>
                            </ion-item>
                            <ion-row style="place-content: center; margin-block: 2%;">
                                <ion-button color="light" [disabled]="this.formularioLogin.invalid" (click)="this.login()">LOGIN</ion-button>
                            </ion-row>


                        </ion-grid>

                    </form>
                </ion-card>

                <ion-row style="place-content: center;cursor:pointer; font-weight: bold;">
                    <ion-text (click)="registrarNuevaEmpresa()">¿Aún no tienes tu empresa registrada?</ion-text>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
<ion-footer style="height: 5%;">
    <ion-grid>
        <ion-row style="text-align: end;">
            <ion-col>
                <ion-text>Versión <strong>{{globalConf.versionApp}}</strong></ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
