@keyframes agitar {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes breathing-color {
    from {
        background-color: gold;
        opacity: 1;
    }
    to {
        background-color: #FFF1E6(0, 0%, 10%);
        opacity: 0.2;
    }
}
