<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Camareros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row style="place-content: center; font-weight: bold;">
            <ion-text>COMANDAS LISTAS</ion-text>
        </ion-row>
        <ion-list>
            <ion-row *ngIf="!platosListosEnAlgunaComanda()">
                <ion-col style="text-align: center;">
                    <ion-text>No hay comandas listas</ion-text>
                </ion-col>
            </ion-row>
            <ng-container *ngIf="comandasPendientes().length > 0">
                <ng-container  *ngFor="let comanda of comandasPendientes()" > 
                <ion-row style="width: 100%;background-color: #FFF1E6;border-radius: 10px; margin-block: 1%;" *ngIf="platosListos(comanda.platos).length > 0">
                    <ion-col >
                        <ion-row style="background-color: #E0C8B1; place-content: center; font-weight: bold; border-radius: 10px;">
                            <ion-text>{{comanda.mesa.nombreMesa}}</ion-text>
                        </ion-row>
                        <ion-row style="border-bottom: 1pt solid black;">
                            <ion-col style="align-self: center;
                      text-align: start; font-weight: bold;">
                                <ion-text>{{comanda.fechaComanda}}</ion-text>
                            </ion-col>
                            <ion-col>
                                <ion-text>hace
                                    <strong>{{diff_minutes(moment(comanda.fechaComanda, "DD/mm/YY hh:mm"))}}</strong>
                                </ion-text>
                            </ion-col>

                        </ion-row>
                        <ion-row *ngFor="let plato of comanda.platos, let index = index" [style.border-bottom]="plato.estado == 2 ? '1pt solid black':''">
                            <ng-container *ngIf="plato.estado == 2">

                                <ion-col size-xs="5" size-sm="5" size-md="5" size-lg="4" size-xl="4" style="text-align: center; align-self: center;" (click)="platoPulsadoComandaPreparada( comanda, index)">
                                    <ion-row style="font-weight: bold;place-content: center; border-radius: 5px; animation: agitar 2.5s infinite; background-color: yellowgreen;">
                                        <ion-text>
                                            LLEVAR A MESA
                                        </ion-text>
                                    </ion-row>
                                </ion-col>
                                <ion-col size-xs="7" size-sm="7" size-md="7" size-lg="4" size-xl="4" (click)="platoPulsadoComandaPreparada( comanda, index)">
                                    <ion-text>{{plato.nombrePlato}}</ion-text>
                                </ion-col>

                                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" *ngIf="plato.usuarioCocina" style="width: 100%;    align-self: center;
                      text-align: start;">
                                    <ion-col size="auto">
                                        <ion-icon src="../assets/Iconos/chef-svgrepo-com.svg"></ion-icon>
                                    </ion-col>

                                    <ion-col>
                                        <ion-text>{{plato.usuarioCocina.nombre}}</ion-text>
                                    </ion-col>
                                </ion-col>

                                <ion-row *ngIf="comandaPulsadaPreparado == comanda.id && platoPulsadoPreparado == index" style="width: 100%;">
                                    <ion-row style="width: 100%; place-content: center; font-weight: bold;">
                                        <ion-text>Cambiar estado</ion-text>
                                    </ion-row>

                                    <ion-col style="cursor: pointer;" size="12" (click)="marcarPlatoEntregado(plato,comanda,index)">
                                        <ion-row class="ion-activatable ripple-parent" style="place-content: center;background-color: royalblue; color: white;
                               font-weight: bold;border-radius: 5px;">
                                            <ion-ripple-effect></ion-ripple-effect>
                                            <ion-text>ENTREGADO</ion-text>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                            </ng-container>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ng-container>
            </ng-container>
        </ion-list>
        <ion-row style="place-content: center; font-weight: bold;">
            <ion-text>EN COCINA</ion-text>
        </ion-row>
        <ion-row *ngIf="comandasPendientes().length == 0">
            <ion-col style="text-align: center;">
                <ion-text>No hay comandas en cocina</ion-text>
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-row style="width: 100%;background-color: #FFF1E6;border-radius: 10px; margin-block: 1%;" *ngFor="let comanda of comandasPendientes()">
                <ion-col *ngIf="platosPreparando(comanda.platos).length > 0">
                    <ion-row style="background-color: #E0C8B1; place-content: center; font-weight: bold; border-radius: 10px;">
                        <ion-text>{{comanda.mesa.nombreMesa}}</ion-text>
                    </ion-row>
                    <ion-row style="border-bottom: 1pt solid black;">
                        <ion-col style="align-self: center;
                      text-align: start; font-weight: bold;">
                            <ion-text>{{comanda.fechaComanda}}</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text>hace
                                <strong>{{diff_minutes(moment(comanda.fechaComanda, "DD/mm/YY hh:mm"))}}</strong>
                            </ion-text>
                        </ion-col>

                    </ion-row>
                    <ion-row *ngFor="let plato of platosPreparando(comanda.platos), let index = index" style="border-bottom: 1pt solid black;">

                        <ion-col size-xs="5" size-sm="5" size-md="5" size-lg="4" size-xl="4" style="text-align: center; align-self: center;" (click)="platoPulsadoComanda( comanda, index)">
                            <ion-row [style.animation]="plato.estado != 0 ? (plato.estado == 1 ? 'breathing-color 1s infinite alternate ease-out':'agitar 2.5s infinite') :'EN ESPERA'" [style.background-color]="plato.estado != 0 ? (plato.estado == 1 ? 'gold':'yellowgreen') :'coral'"
                                style="font-weight: bold;place-content: center; border-radius: 5px;">
                                <ion-text>
                                    {{plato.estado != 0 ? (plato.estado == 1 ? 'PREPARANDO':'LLEVAR A MESA') :'EN ESPERA'}}
                                </ion-text>
                            </ion-row>
                        </ion-col>
                        <ion-col size-xs="7" size-sm="7" size-md="7" size-lg="4" size-xl="4" (click)="platoPulsadoComanda( comanda, index)">
                            <ion-text>{{plato.nombrePlato}}</ion-text>
                        </ion-col>

                        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" *ngIf="plato.usuarioCocina" style="width: 100%;    align-self: center;
                      text-align: start;">
                            <ion-col size="auto">
                                <ion-icon src="../assets/Iconos/chef-svgrepo-com.svg"></ion-icon>
                            </ion-col>

                            <ion-col>
                                <ion-text>{{plato.usuarioCocina.nombre}}</ion-text>
                            </ion-col>
                        </ion-col>

                        <!-- <ion-row *ngIf="comandaPulsada == comanda.id && platoPulsado == index" style="width: 100%;">
                            <ion-row style="width: 100%; place-content: center; font-weight: bold;">
                                <ion-text>Cambiar estado</ion-text>
                            </ion-row>
                            <ion-col style="cursor: pointer;" size="6" *ngIf="plato.estado != 0" (click)="marcarPlatoEnEspera(plato,comanda,index)">
                                <ion-row class="ion-activatable ripple-parent" style="place-content: center;background-color: coral;
                               font-weight: bold;border-radius: 5px;">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    <ion-text>EN ESPERA</ion-text>
                                </ion-row>
                            </ion-col>
                            <ion-col style="cursor: pointer; " size="6" *ngIf="plato.estado != 1" (click)="marcarPlatoPreparando(plato, comanda, index)">
                                <ion-row class="ion-activatable ripple-parent" style="place-content: center; background-color: gold;  font-weight: bold; border-radius: 5px;">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    <ion-text>PREPARANDO</ion-text>
                                </ion-row>
                            </ion-col>
                            <ion-col style="cursor: pointer;" size="6" *ngIf="plato.estado != 2" (click)="marcarPlatoLlevarAMesa(plato,comanda,index)">
                                <ion-row class="ion-activatable ripple-parent" style="place-content: center;background-color: yellowgreen;
                               font-weight: bold;border-radius: 5px;">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    <ion-text>LLEVAR A MESA</ion-text>
                                </ion-row>
                            </ion-col>
                        </ion-row> -->
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-grid>
</ion-content>