<ion-content>
    <ion-grid style="height: 100%;
    display: flex;
    align-items: center;">
        <ion-row style="width: 100%;">
            <ion-card style="background-color: #5296A5; width: 100%;">

                <ion-grid>
                    <ion-row style="place-content: center; font-weight: bold; color: white; margin-block: 5%;">
                        <ion-text style=" font-size: clamp(25px,2vw, 50px);" *ngIf="!this.primerFormCorrecto">Registrar nueva empresa
                        </ion-text>
                        <ion-text style=" font-size: clamp(25px,2vw, 50px);" *ngIf="this.primerFormCorrecto">Introduce tus datos de usuario
                        </ion-text>
                    </ion-row>
                    <ion-row>
                        <form [formGroup]="formularioNuevaEmpresa" style="width: 100%;margin-inline: 10%; margin-bottom: 10%;" *ngIf="!this.primerFormCorrecto">
                            <ion-row>
                                <ion-item>
                                    <ion-label position="stacked">
                                        Nombre de la empresa
                                    </ion-label>
                                    <ion-input formControlName="nombreEmpresa"></ion-input>
                                </ion-item>
                                <div class="errores-validaciones" style="width: 100%;">
                                    <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.nombreEmpresa">
                                        <div class="mensaje-error" *ngIf="formularioNuevaEmpresa.get('nombreEmpresa').hasError(validacion.type) && (formularioNuevaEmpresa.get('nombreEmpresa').dirty || formularioNuevaEmpresa.get('nombreEmpresa').touched)">
                                            <p>
                                                <ion-icon name="alert-circle"></ion-icon>
                                                {{validacion.message}}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-label position="stacked">
                                        NIF de la empresa
                                    </ion-label>
                                    <ion-input formControlName="nifEmpresa"></ion-input>
                                </ion-item>
                                <div class="errores-validaciones" style="width: 100%;">
                                    <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.nifEmpresa">
                                        <div class="mensaje-error" *ngIf="formularioNuevaEmpresa.get('nifEmpresa').hasError(validacion.type) && (formularioNuevaEmpresa.get('nifEmpresa').dirty || formularioNuevaEmpresa.get('nifEmpresa').touched)">
                                            <p>
                                                <ion-icon name="alert-circle"></ion-icon>
                                                {{validacion.message}}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-row>
                            <ion-row style="place-content: center; margin-top: 5%;">
                                <ion-col>
                                    <ion-button (click)="cancelar()">
                                        Cancelar</ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button [disabled]="this.formularioNuevaEmpresa.invalid" (click)="comprobarEmpresaDisponible()">
                                        Registrar</ion-button>
                                </ion-col>
                            </ion-row>
                        </form>

                        <form [formGroup]="formularioAdministrador" style="width: 100%;margin-inline: 10%; margin-bottom: 10%;" *ngIf="this.primerFormCorrecto">
                            <ion-row>
                                <ion-item>
                                    <ion-label position="stacked">
                                        Email de administrador
                                    </ion-label>
                                    <ion-input formControlName="email"></ion-input>
                                </ion-item>
                                <div class="errores-validaciones" style="width: 100%;">
                                    <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.email">
                                        <div class="mensaje-error" *ngIf="formularioAdministrador.get('email').hasError(validacion.type) && (formularioAdministrador.get('email').dirty || formularioAdministrador.get('email').touched)">
                                            <p>
                                                <ion-icon name="alert-circle"></ion-icon>
                                                {{validacion.message}}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-row>
                            <ion-row>
                                <ion-col style="padding: 0;margin-right: 2%;">
                                    <ion-item>
                                        <ion-label position="stacked">
                                            Nombre
                                        </ion-label>
                                        <ion-input formControlName="nombre"></ion-input>
                                    </ion-item>
                                    <div class="errores-validaciones" style="width: 100%;">
                                        <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.nombre">
                                            <div class="mensaje-error" *ngIf="formularioAdministrador.get('nombre').hasError(validacion.type) && (formularioAdministrador.get('nombre').dirty || formularioAdministrador.get('nombre').touched)">
                                                <p>
                                                    <ion-icon name="alert-circle"></ion-icon>
                                                    {{validacion.message}}
                                                </p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                                <ion-col style="padding: 0;">
                                    <ion-item>
                                        <ion-label position="stacked">
                                            Apellidos
                                        </ion-label>
                                        <ion-input formControlName="apellidos"></ion-input>
                                    </ion-item>
                                    <div class="errores-validaciones" style="width: 100%;">
                                        <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.apellidos">
                                            <div class="mensaje-error" *ngIf="formularioAdministrador.get('apellidos').hasError(validacion.type) && (formularioAdministrador.get('apellidos').dirty || formularioAdministrador.get('apellidos').touched)">
                                                <p>
                                                    <ion-icon name="alert-circle"></ion-icon>
                                                    {{validacion.message}}
                                                </p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-label position="stacked">
                                        Contraseña del administrador
                                    </ion-label>
                                    <ion-input formControlName="password"></ion-input>
                                </ion-item>
                                <div class="errores-validaciones" style="width: 100%;">
                                    <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.password">
                                        <div class="mensaje-error" *ngIf="formularioAdministrador.get('password').hasError(validacion.type) && (formularioAdministrador.get('password').dirty || formularioAdministrador.get('password').touched)">
                                            <p>
                                                <ion-icon name="alert-circle"></ion-icon>
                                                {{validacion.message}}
                                            </p>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-row>

                            <ion-row style="place-content: center; margin-top: 5%;">
                                <ion-col>
                                    <ion-button (click)="cancelar()">
                                        Cancelar</ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button [disabled]="this.formularioAdministrador.invalid" (click)="registrarAdminEmpresa()">
                                        Registrar</ion-button>
                                </ion-col>


                            </ion-row>
                        </form>
                    </ion-row>

                </ion-grid>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>