<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">

            <ion-button color="dark" (click)="cerrarModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Nuevo empleado</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formularioNuevoEmpleado">
        <ion-grid style="    background-color: #E0C8B1;
        border-radius: 10px;">
            <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                    <ion-row style="    background-color: #A3805F;
                    border-radius: 20px;
                    color: white;
                    place-content: center;">
                        <ion-text class="label">Nombre y apellidos</ion-text>
                    </ion-row>
                    <ion-row style="    background-color: white;
                    border-radius: 10px;
                    margin-block: 1%;">
                        <ion-input formControlName="nombreApellidos" type="text" placeholder="Nombre y apellidos"></ion-input>
                    </ion-row>
                    <div class="errores-validaciones" style="width: 100%;">
                        <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.nombreApellidos">
                            <div class="mensaje-error" *ngIf="formularioNuevoEmpleado.get('nombreApellidos').hasError(validacion.type) && (formularioNuevoEmpleado.get('nombreApellidos').dirty || formularioNuevoEmpleado.get('nombreApellidos').touched)">
                                <p>
                                    <ion-icon name="alert-circle"></ion-icon>
                                    {{validacion.message}}
                                </p>
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                    <ion-row style="    background-color: #A3805F;
                    border-radius: 20px;
                    color: white;
                    place-content: center;">
                        <ion-text class="label">Correo electrónico</ion-text>
                    </ion-row>
                    <ion-row style="    background-color: white;
                    border-radius: 10px;
                    margin-block: 1%;">
                        <ion-input formControlName="email" type="text" placeholder="Correo electrónico"></ion-input>
                    </ion-row>
                    <div class="errores-validaciones" style="width: 100%;">
                        <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.email">
                            <div class="mensaje-error" *ngIf="formularioNuevoEmpleado.get('email').hasError(validacion.type) && (formularioNuevoEmpleado.get('email').dirty || formularioNuevoEmpleado.get('email').touched)">
                                <p>
                                    <ion-icon name="alert-circle"></ion-icon>
                                    {{validacion.message}}
                                </p>
                            </div>
                        </ng-container>
                    </div>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                    <ion-row style="    background-color: #A3805F;
                    border-radius: 20px;
                    color: white;
                    place-content: center;">
                        <ion-text class="label">Departamento</ion-text>
                    </ion-row>
                    <ion-row style="    background-color: white;
                    border-radius: 10px;
                    margin-block: 1%;">
                        <ion-select formControlName="departamento" placeholder="Departamento" interface="popover">
                            <ion-select-option value={{departamento.id}} *ngFor="let departamento of this.variables.departamentos">{{departamento.nombreDepartamento}}</ion-select-option>
                        </ion-select>
                        <ion-input type="text"></ion-input>
                    </ion-row>
                    <div class="errores-validaciones" style="width: 100%;">
                        <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.departamento">
                            <div class="mensaje-error" *ngIf="formularioNuevoEmpleado.get('departamento').hasError(validacion.type) && (formularioNuevoEmpleado.get('departamento').dirty || formularioNuevoEmpleado.get('departamento').touched)">
                                <p>
                                    <ion-icon name="alert-circle"></ion-icon>
                                    {{validacion.message}}
                                </p>
                            </div>
                        </ng-container>
                    </div>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                    <ion-row style="    background-color: #A3805F;
                    border-radius: 20px;
                    color: white;
                    place-content: center;">
                        <ion-text class="label">Contraseña</ion-text>
                    </ion-row>
                    <ion-row style="    background-color: white;
                    border-radius: 10px;
                    margin-block: 1%;">
                        <ion-input formControlName="password" type="text" placeholder="Contraseña"></ion-input>
                    </ion-row>
                    <div class="errores-validaciones" style="width: 100%;">
                        <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.password">
                            <div class="mensaje-error" *ngIf="formularioNuevoEmpleado.get('password').hasError(validacion.type) && (formularioNuevoEmpleado.get('password').dirty || formularioNuevoEmpleado.get('password').touched)">
                                <p>
                                    <ion-icon name="alert-circle"></ion-icon>
                                    {{validacion.message}}
                                </p>
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="text-align: center;">
                    <ion-button color="light" (click)="crearEmpleado()" [disabled]="formularioNuevoEmpleado.invalid">Crear empleado</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
