<!-- <ion-header>
    <ion-toolbar>
        <ion-title *ngIf="this.mesaActual">Servicio en {{this.mesaActual?.nombreMesa}}</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content>
    <ion-grid *ngIf="this.mesaActual">
        <ion-row style="border-bottom: 2pt solid; background-color: white; color: black">
            <ion-col size="5">
                <ion-row style="place-content: center; font-size: clamp(55px, 2vw, 85px)">
                    <ion-icon [color]="this.mesaActual?.ocupada ? 'danger':'success'" src="../../../assets/Iconos/restaurant-table-and-chairs-svgrepo-com.svg"></ion-icon>
                </ion-row>
                <ion-row style="place-content: center; font-size: clamp(16px, 1.5vw, 22px)">
                    <ion-text [style.color]="this.mesaActual?.ocupada ? 'red':'green'" style="text-align: center">
                        {{this.mesaActual.ocupada ? 'Ocupada':'Disponible' }}</ion-text>
                </ion-row>
            </ion-col>
            <ion-col size="7" style="text-align: center; align-self: center">
                <ion-text style="font-size: clamp(25px, 4vw, 35px)">{{this.mesaActual.nombreMesa}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!this.mesaActual?.ocupada && ticketMesa?.estado != 2" style="height: 75%; align-content: center">
            <ion-col (click)="comenzarServicio()">
                <ion-row style="place-content: center">
                    <ion-icon style="font-size: clamp(55px, 3vw, 65px)" color="success" name="add-circle"></ion-icon>
                </ion-row>
                <ion-row style="place-content: center; font-size: clamp(20px, 1.5vw, 25px)">
                    <ion-text>Comenzar servicio</ion-text>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="this.mesaActual.ocupada  && !this.pidiendoPlatos" style="height: 100%">
            <ion-row *ngIf="ticketMesa?.estado == 1" style="width: 100%; text-align: center; align-self: center">
                <ion-col style="place-content: center">
                    <ion-row>
                        <ion-col style="font-weight: bold;font-size: clamp(25px,1.5vw,30px); animation: pagoPendiente 1s infinite alternate ease-out;">
                            <ion-text> PENDIENTE DE COBRO</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="    font-size: clamp(18px,1.5vw,23px);font-weight: bold;">
                            <ion-text>Espera al camarero o ve a la barra</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="this.ticketMesa?.estado == 0" style="width: 100%; text-align: center; align-self: center">
                <ion-col style="place-content: center">
                    <ion-button (click)="finalizarServicio()" [disabled]="comandasPendientes().length != 0" color="danger">Levantarse de<br />la mesa</ion-button>
                </ion-col>
                <ion-col style="place-content: center">
                    <ion-button color="success" (click)="pedirPlatos()">Pedir<br />platos</ion-button>
                </ion-col>
            </ion-row>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="this.pidiendoPlatos">
        <ion-row>
            <ion-col style="text-align: center;">
                <ion-button color="danger" (click)="this.pidiendoPlatos = false">Ir atrás</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ng-container *ngIf="this.mesaActual?.ocupada && this.pidiendoPlatos && this.carta && ticketMesa?.estado != 2">
        <ion-grid *ngFor="let categoria of this.carta" style="margin: 1%; background-color: #e0c8b1; border-radius: 10px">
            <ion-row style="
          text-align: center;
          text-transform: uppercase;
          background-color: #a3805f;
          border-radius: 20px;
        ">
                <ion-col>
                    <ion-text style="font-weight: bold; color: white">{{categoria?.nombreCategoria}}</ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-item *ngFor="let plato of categoria?.platos" style="width: 100%">
                    <ion-item *ngIf="plato.disponible" lines="none" style="width: 100%; border-radius: 10px; margin-block: 3px">
                        <ion-grid [style.opacity]="plato.disponible ? '':'0.2'" style="
                padding: 0;
                min-height: 90px;
                max-height: -webkit-fill-available;
              ">
                            <ion-row (click)="clickarPlato(plato)">
                                <ion-col size="4" style="
                    text-align: center;
                    border-radius: 10px;
                    background-color: white;
                    align-self: center;
                  ">
                                    <img style="
                      min-height: 40px;
                      height: 5vw;
                      max-height: 100px;
                      border-radius: 10px;
                      width: 8vw;
                      min-width: 70px;

                      max-width: 160px;
                      object-fit: unset;
                    " src="{{plato?.imagenUrl.toString()}}" />
                                </ion-col>
                                <ion-col size="5">
                                    <ion-row>
                                        <ion-col style="
                        text-align: start;
                        font-weight: bold;
                        font-size: clamp(15px, 1.5vw, 21px);
                      ">
                                            <ion-text>{{plato?.nombrePlato}}</ion-text>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row style="place-content: center">
                                        <ion-col size="auto" style="align-self: center" *ngFor="let alergeno of plato.alergenos">
                                            <img style="
                          padding: 0;
                          width: 4vw;
                          min-width: 20px;
                          max-width: 65px;
                        " src="../../../../../assets/Iconos/Alergenos/sinTexto/{{alergeno}}.svg" />
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="3" style="
                    padding: 0;
                    font-size: clamp(15px, 1.5vw, 21px);
                    text-align: end;
                    align-self: center;
                    font-weight: bold;
                  ">
                                    <ion-text *ngIf="plato.disponible">{{plato.precio.toFixed(2)}}€</ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="this.platoClickado == plato.id">
                                <ion-col (click)="addPlatoEspecial(plato)" class="ion-activatable ripple-parent" size="6" style="align-self: center; text-align: center">
                                    <ion-text style="
                      color: white;
                      background-color: #3880ff;
                      border-radius: 5px;
                      cursor: pointer;
                      padding: clamp(2px, 0.5vw, 8px);
                    ">
                                        <ion-ripple-effect></ion-ripple-effect>
                                        Observación
                                    </ion-text>
                                </ion-col>
                                <ion-col class="ion-activatable ripple-parent" (click)="deletePlatoComanda(plato)" size="2" style="
                    text-align: center;
                    font-size: clamp(20px, 1.5vw, 30px);
                  ">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    <ion-icon color="danger" style="cursor: pointer" name="remove-circle"></ion-icon>
                                </ion-col>
                                <ion-col size="2" style="
                    text-align: center;
                    font-weight: bold;
                    align-self: center;
                  ">
                                    {{cantidadEnComanda(plato)}}
                                </ion-col>
                                <ion-col class="ion-activatable ripple-parent" (click)="addPlatoComanda(plato)" size="2" style="
                    text-align: center;
                    font-size: clamp(20px, 1.5vw, 30px);
                  ">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    <ion-icon color="success" style="cursor: pointer" name="add-circle"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-item>
            </ion-row>
        </ion-grid>
    </ng-container>
    <ng-container *ngIf="this.mesaActual?.ocupada && !this.pidiendoPlatos && ticketMesa?.estado == 0">
        <ng-container *ngIf="comandasPendientes().length == 0">
            <ion-row>
                <ion-col style="text-align: center; font-weight: bold">
                    <ion-text>No hay pedidos pendientes</ion-text>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="comandasPendientes().length > 0">
            <ion-row style="
          width: 100%;
          background-color: #fff1e6;
          border-radius: 10px;
          margin-block: 1%;
        " *ngFor="let comanda of comandasPendientes()">
                <ion-col *ngIf="comanda.platos.length > 0">
                    <ion-row *ngFor="let plato of comanda?.platos, let index = index" [style.border-bottom]="plato.estado == 2 ? '1pt solid black':''">
                        <ion-col size-xs="5" size-sm="5" size-md="5" size-lg="4" size-xl="4" style="text-align: center; align-self: center">
                            <ion-row [style.animation]="plato.estado != 0 ? (plato.estado == 1 ? 'breathing-color 1s infinite alternate ease-out':'agitar 2.5s infinite') :'EN ESPERA'" [style.background-color]="plato.estado != 0 ? (plato.estado == 1 ? 'gold':'yellowgreen') :'coral'"
                                style="
                  font-weight: bold;
                  place-content: center;
                  border-radius: 5px;
                ">
                                <ion-text>
                                    {{plato.estado != 0 ? (plato.estado == 1 ? 'PREPARANDO':'LLEVANDO A MESA') :'PEDIDO REALIZADO'}}
                                </ion-text>
                            </ion-row>
                        </ion-col>
                        <ion-col style="align-self: center" size-xs="7" size-sm="7" size-md="7" size-lg="4" size-xl="4">
                            <ion-text>{{plato.nombrePlato}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ng-container>
    </ng-container>
</ion-content>
<ion-footer style="background-color: #f0efeb">
    <ion-grid *ngIf="this.mesaActual && comandaTicketsSinRepetir()?.length > 0 && !this.pidiendoPlatos">
        <ion-row (click)=" mostrarDetalleCuenta=! mostrarDetalleCuenta ">
            <ion-col>
                <ng-container *ngIf="mostrarDetalleCuenta ">
                    <ion-row style="background-color: white; color: black">
                        <ion-col>
                            <ion-row style="
                  border-bottom: 1pt solid;
                  border-style: none none dashed none;
                ">
                                <ion-col>Uds</ion-col>
                                <ion-col>Producto</ion-col>
                                <ion-col style="text-align: end; align-self: center">Importe</ion-col>
                            </ion-row>
                            <ion-list style="
                  max-height: 160px;
                  overflow-y: scroll;
                  background-color: white;
                ">
                                <ion-row *ngFor="let plato of comandaTicketsSinRepetir() ">
                                    <ion-col size="3 " style="text-align: start; align-self: center">
                                        {{cantidadEnTicket(plato)}}
                                    </ion-col>
                                    <ion-col size="6 " style="text-align: start; align-self: center">
                                        <ion-row> {{plato?.nombrePlato}} </ion-row>
                                        <ion-row *ngIf="plato?.observaciones ">
                                            *{{plato?.observaciones}}
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="3 " style="text-align: end; align-self: center">
                                        {{(plato?.precio * cantidadEnTicket(plato)).toFixed(2)}} €
                                    </ion-col>
                                </ion-row>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ng-container>
                <ion-row style="border-bottom: 2pt solid black">
                    <ion-col style="font-weight: bold; text-align: start" size="6 ">TOTAL</ion-col>
                    <ion-col style="text-align: center" size="6 "><strong style="font-size: clamp(20px, 1.5vw, 25px)">{{sumaTicketActual()}}</strong
            >
            €</ion-col
          >
        </ion-row>
        <ion-row style="text-align: center; place-content: center">
          <ion-text
            >{{!mostrarDetalleCuenta ? 'Mostrar ticket':'Esconder
            ticket'}}</ion-text
          >
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid
    *ngIf="this.mesaActual && comandaPlatosSinRepetir()?.length> 0 && this.pidiendoPlatos"
  >
    <ion-row (click)="mostrarDetalleCuenta = !mostrarDetalleCuenta">
      <ion-col>
        <ng-container *ngIf="mostrarDetalleCuenta">
          <ion-row style="background-color: white; color: black">
            <ion-col>
              <ion-row
                style="
                  border-bottom: 1pt solid;
                  border-style: none none dashed none;
                "
              >
                <ion-col>Uds</ion-col>
                <ion-col>Producto</ion-col>
                <ion-col style="text-align: end; align-self: center"
                  >Importe</ion-col
                >
              </ion-row>
              <ion-list
                style="
                  max-height: 160px;
                  overflow-y: scroll;
                  background-color: white;
                "
              >
                <ion-row *ngFor="let plato of comandaPlatosSinRepetir()">
                  <ion-col
                    size="3"
                    style="text-align: start; align-self: center"
                  >
                    {{cantidadEnComanda(plato)}}
                  </ion-col>
                  <ion-col
                    size="6"
                    style="text-align: start; align-self: center"
                  >
                    <ion-row> {{plato?.nombrePlato}} </ion-row>
                    <ion-row *ngIf="plato?.observaciones">
                      *{{plato?.observaciones}}
                    </ion-row>
                  </ion-col>
                  <ion-col size="3" style="text-align: end; align-self: center">
                    {{(plato?.precio * cantidadEnComanda(plato)).toFixed(2)}} €
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-col>
          </ion-row>
        </ng-container>
        <ion-row style="border-bottom: 2pt solid black">
          <ion-col style="font-weight: bold; text-align: start" size="6"
            >TOTAL</ion-col
          >
          <ion-col style="text-align: center" size="6"
            ><strong style="font-size: clamp(20px, 1.5vw, 25px)"
              >{{cuentaTotal().toFixed(2)}}</strong
            >
            €</ion-col
          >
        </ion-row>
        <ion-row style="text-align: center; place-content: center">
          <ion-text
            >{{!mostrarDetalleCuenta ? 'Mostrar ticket':'Esconder
            ticket'}}</ion-text
          >
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button color="success" (click)="addComanda()"
          >Confirmar pedido</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
