<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="cerrarModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="imprimirQR()">
                <ion-icon name="print"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>QR de la mesa</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid style="height: 100%">
        <ion-row style="height: 100%; place-content: center">
            <ion-col>
                <ion-row style="    place-content: center;
                font-weight: bold;
                font-size: 30px;
                text-transform: uppercase;
          ">
                    {{this.mesa.nombreMesa}}
                </ion-row>
                <ion-row style="place-content: center;">
                    <qr-code id="qrCode" [size]="300" [value]="this.urlQR.toString()"></qr-code>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
