<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de comandas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row style="background-color: #A3805F;">
            <ion-select style="width: 100%;
            border-radius: 20px;
            margin: 10px;
            background-color: white;" value=0 interface="popover" [(ngModel)]="filtrar">
                <ion-select-option value=0>Mostrar pendientes</ion-select-option>
                <ion-select-option value=1>Mostrar todo</ion-select-option>
            </ion-select>
        </ion-row>
        <ion-row *ngIf="this.variables.comandas.length == 0">
            <ion-col style="text-align: center;">
                <ion-text>No hay comandas</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" *ngFor="let comanda of filtrarComandas()">
                <ion-grid style="background-color: lightgoldenrodyellow; color: black;">
                    <ion-row style="place-content: center; margin: 1%;">
                        <span class="dot"></span>
                    </ion-row>
                    <ion-row style="place-content: center; text-transform: uppercase; font-weight: bold;">
                        {{comanda.mesa.nombreMesa}}
                    </ion-row>
                    <ion-row style="place-content: center;font-weight: bold;border: 1pt solid;margin: 2%;">
                        {{comanda.fechaComanda}}</ion-row>
                    <ion-row *ngFor="let plato of comanda.platos">
                        <ion-col style="    border-bottom: 1pt solid;">
                            <ion-text>{{plato.nombrePlato}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
