<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="cerrarModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="abrirQR()">
                <ion-icon name="qr-code"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Detalle de la mesa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row style="border-bottom: 2pt solid;    background-color: white; color: black;">
            <ion-col size="5">
                <ion-row style="place-content: center;font-size: clamp(55px,2vw,85px);">
                    <ion-icon [color]="mesa.ocupada ? 'danger':'success'" src="../../../assets/Iconos/restaurant-table-and-chairs-svgrepo-com.svg"></ion-icon>
                </ion-row>
                <ion-row style="place-content: center;font-size: clamp(16px,1.5vw,22px);">
                    <ion-text [style.color]="mesa.ocupada ? 'red':'green'" style="text-align: center;">
                        {{mesa.ocupada ? 'Ocupada':'Disponible' }}</ion-text>
                </ion-row>
            </ion-col>
            <ion-col size="7" style="text-align: center; align-self: center;">
                <ion-text style="font-size: clamp(25px,4vw,35px);">{{mesa.nombreMesa}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!mesa.ocupada" style="height: 75%; align-content: center;">
            <ion-col (click)="comenzarServicio()">
                <ion-row style="place-content: center;">
                    <ion-icon style="font-size: clamp(55px,3vw,65px);" color="success" name="add-circle"></ion-icon>
                </ion-row>
                <ion-row style="place-content: center;font-size: clamp(20px,1.5vw,25px);">
                    <ion-text>Comenzar servicio</ion-text>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mesa.ocupada" style="height: 100%;">
            <ion-row style="width: 100%;
            text-align: center; align-self: center;" *ngIf="this.ticketMesa?.estado == 0">
                <ion-col style="place-content: center;" (click)="addProductosComanda()">
                    <ion-button color="success">Añadir<br>productos</ion-button>
                </ion-col>
                <ion-col style="place-content: center;">
                    <ion-button (click)="finalizarServicio()" [disabled]="buscarComandasPendientes() > 0" color="danger">Finalizar<br>servicio</ion-button>
                </ion-col>
            </ion-row>
            <ion-row style="width: 100%;
            text-align: center; align-self: center;" *ngIf="this.ticketMesa?.estado == 1">
                <ion-col (click)="realizarCobro()">
                    <ion-row style="place-content: center;">
                        <ion-icon style="font-size: clamp(55px,3vw,65px);" color="success" name="calculator"></ion-icon>
                    </ion-row>
                    <ion-row style="place-content: center;font-size: clamp(20px,1.5vw,25px);">
                        <ion-text>Realizar cobro</ion-text>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row style="width: 100%;">
                <ion-row *ngIf="buscarComandasPendientes() > 0" style="width: 100%; place-content: center;">
                    <ion-col>
                        <ion-row style="place-content: center;">
                            <ion-text style="font-weight: bold">COMANDAS PENDIENTES</ion-text>
                        </ion-row>
                        <ion-row style="border: 2pt solid grey;border-radius: 10px;background-color: white; color: black;">
                            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" *ngFor="let comanda of this.comandasPendientes">
                                <ion-grid style="background-color: lightgoldenrodyellow;">
                                    <ion-row style="place-content: center;">
                                        <span class="dot"></span>
                                    </ion-row>
                                    <ion-row style="place-content: center;
                                    font-weight: bold;
                                    border-block: 1pt solid;
                                    margin: 2%;">{{comanda.fechaComanda}}</ion-row>
                                    <ion-row *ngFor="let plato of platosSinRepetir(comanda)" style="border-bottom: 1pt solid;">
                                        <ion-row>
                                            <ion-col size="auto">
                                                <ion-text style="font-weight: bold; color: black;">{{cantidadDePlatos(plato,comanda)}}</ion-text>
                                            </ion-col>
                                            <ion-col>
                                                <ion-text style="color: black;">{{plato.nombrePlato}}</ion-text>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row style="width: 100%" *ngIf="plato.observaciones != null">
                                            <ion-text style="color: black;">*{{plato.observaciones}}*</ion-text>
                                        </ion-row>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-row>

        </ion-row>
        <!-- <ion-row></ion-row>
        <ion-row></ion-row> -->
    </ion-grid>
</ion-content>
<ion-footer *ngIf="comandaPlatosSinRepetir()?.length > 0" style="background-color: #F0EFEB;" (click)="mostrarDetalleCuenta = !mostrarDetalleCuenta">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ng-container *ngIf="mostrarDetalleCuenta">
                    <ion-row style="background-color: white; color: black;">
                        <ion-col>
                            <ion-row style="    border-bottom: 1pt solid;
                    border-style: none none dashed none;">
                                <ion-col>Uds</ion-col>
                                <ion-col>Producto</ion-col>
                                <ion-col style="text-align: end;
                        align-self: center;">Importe</ion-col>
                            </ion-row>
                            <ion-list style="max-height: 160px;
                    overflow-y: scroll; background-color: white;">
                                <ion-row *ngFor="let plato of comandaPlatosSinRepetir()">
                                    <ion-col size="3" style="text-align: start;align-self: center;">
                                        {{cantidadEnTicket(plato)}}
                                    </ion-col>
                                    <ion-col size="6" style="text-align: start;align-self: center;">
                                        <ion-row>
                                            {{plato?.nombrePlato}}
                                        </ion-row>
                                        <ion-row *ngIf="plato?.observaciones">
                                            *{{plato?.observaciones}}
                                        </ion-row>

                                    </ion-col>
                                    <ion-col size="3" style="text-align: end;align-self: center;">
                                        {{(plato?.precio * cantidadEnTicket(plato)).toFixed(2)}} €
                                    </ion-col>
                                </ion-row>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ng-container>
                <ion-row style="border-bottom: 2pt solid black;">
                    <ion-col style="font-weight: bold; text-align: start;" size="6">TOTAL</ion-col>
                    <ion-col style="text-align: center;" size="6"><strong style="font-size: clamp(20px,1.5vw,25px);">{{sumaTicketActual()}}</strong> €</ion-col>
                </ion-row>
                <ion-row style="text-align: center;place-content: center;">
                    <ion-text>{{!mostrarDetalleCuenta ? 'Mostrar ticket':'Esconder ticket'}}</ion-text>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>