<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Carta del restaurante</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item *ngIf="this.variables.empleadoSesion.departamento.id == 0" lines="none" class="ion-activatable ripple-parent" (click)="this.addNuevaCategoria()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" color="success" name="add-circle"></ion-icon>
        <ion-text>Añadir categoría nueva</ion-text>
    </ion-item>

    <ion-grid *ngFor="let categoria of this.variables.carta" style="margin: 1%; background-color: #E0C8B1; border-radius: 10px;">
        <ion-row style="text-align: center; text-transform: uppercase;background-color: #A3805F;
        border-radius: 20px;">
            <ion-col>
                <ion-text style="font-weight: bold; color: white;">{{categoria.nombreCategoria}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-item *ngIf="this.variables.empleadoSesion.departamento.id == 0" lines="none" class="ion-activatable ripple-parent" style="width: 100%;
            border-radius: 10px; background-color: white;" (click)="addNuevoPlato(categoria)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon slot="end" color="success" name="add-circle"></ion-icon>
                <ion-text>Añadir plato</ion-text>
            </ion-item>
            <ion-item-sliding *ngFor="let plato of categoria.platos">


                <ion-item-options side="end">
                    <ion-item-option *ngIf="plato.disponible" style="border-radius: 10px;" color="warning" (click)="marcarPlatoNoDisponible(plato, categoria)">No disponible</ion-item-option>
                    <ion-item-option *ngIf="!plato.disponible" style="border-radius: 10px;" color="success" (click)="marcarPlatoDisponible(plato, categoria)">Disponible</ion-item-option>
                    <ion-item-option *ngIf="this.variables.empleadoSesion.departamento.id == 0" style="border-radius: 10px;" color="danger" (click)="eliminarPlato(plato, categoria)">
                        Eliminar</ion-item-option>
                </ion-item-options>
                <ion-item lines="none" style="width: 100%;
            border-radius: 10px; margin-block: 3px; " (click)="verPlato(plato, categoria)">
                    <ion-text style="    position: absolute;
                    font-size: 20px;
                    margin: auto;
                    color: white;
                    background-color: #E0C8B1;
                    padding: 2%;
                    border-radius: 10px 0px 0px 10px;
                    right: 0;;" *ngIf="!plato.disponible">NO DISPONIBLE</ion-text>

                    <ion-grid [style.opacity]="plato.disponible ? '':'0.2'" style="padding: 0; height: 8vw;
                min-height: 90px;
                max-height: 140px;">
                        <ion-row style="height: 100%;">
                            <ion-col size="4" style="text-align: center; border-radius: 10px; background-color: white; align-self: center;">
                                <img style="    min-height: 40px;
                            height: 5vw;
                            max-height: 100px;
                            border-radius: 10px;
                            width: 8vw;
                            min-width: 70px;

                            max-width: 160px;
                            object-fit: unset;" src="{{plato.imagenUrl.toString()}}">
                            </ion-col>
                            <ion-col size="5">
                                <ion-row>
                                    <ion-col style="text-align: start; font-weight: bold; font-size: clamp(15px,1.5vw,21px)">
                                        <ion-text>{{plato.nombrePlato}}</ion-text>
                                    </ion-col>
                                </ion-row>
                                <ion-row style="place-content: center;">
                                    <ion-col size="auto" style="align-self: center;;" *ngFor="let alergeno of plato.alergenos">
                                        <img style=" padding: 0; width: 4vw;
                                    min-width: 20px;
                                    max-width: 65px;" src="../../../../../assets/Iconos/Alergenos/sinTexto/{{alergeno}}.svg">
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size="3" style="padding: 0; font-size: clamp(15px,1.5vw,21px);text-align: end; align-self: center; font-weight: bold;">
                                <ion-text *ngIf="plato.disponible">{{plato.precio.toFixed(2)}}€</ion-text>
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-item-sliding>
        </ion-row>
    </ion-grid>

</ion-content>