<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu principal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" *ngFor="let card of this.dashboardMostrar">
                <ion-card [routerLink]="[card.url]" style="width: fit-content;">
                    <img style="opacity: 0.9;" src={{card.imagen}}>
                    <div class="textoCard">{{card.nombreOpcion}}</div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
