<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">

            <ion-button color="dark" (click)="cerrarPopover()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Cambiar imagen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>



    <ion-list>
        <ion-grid>
            <ion-row style="text-align: center;">
                <ion-col>
                    <ion-button (click)="subirImagenSelect()">Subir imagen</ion-button>
                </ion-col>
            </ion-row>
            <ion-row style="place-content: center;">
                <ion-row style="width: 100%;
                border-bottom: 2pt solid;
                place-content: center;">
                    <ion-text style="    font-size: clamp(20px,1.5vw,45px);">Imagenes prediseñadas</ion-text>
                </ion-row>
                <ion-row style="place-content: center;">
                    <ion-col class="ion-activatable ripple-parent" size="auto" *ngFor="let imagen of this.listaImagenes" (click)="imagenSeleccionada(imagen)">
                        <ion-ripple-effect></ion-ripple-effect>
                        <img width="80px" height="80px" [src]="imagen">
                    </ion-col>
                </ion-row>

            </ion-row>
        </ion-grid>
    </ion-list>

</ion-content>