<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="cerrarModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="this.detallePlato">Detalle del plato</ion-title>
        <ion-title *ngIf="!this.detallePlato">Nuevo plato</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formularioNuevoPlato">
        <ion-grid>
            <ion-row style="border-bottom: 2pt solid black">
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" style="text-align: center; align-self: center" size="4">
                    <ion-row (click)="cambiarImagen()" style="place-content: center">
                        <img style="
                object-fit: contain;
                border-radius: 35px;
                width: 150px;
                height: 150px;
              " src="{{this.imagenURL.url}}" />
                    </ion-row>
                    <ion-row *ngIf="this.variables.empleadoSesion.departamento.id == 0" (click)="cambiarImagen()" class="ion-activatable ripple-parent" style="place-content: center; margin-top: 5px">
                        <ion-ripple-effect></ion-ripple-effect>
                        <ion-text style="
                background-color: #3880ff;
                color: white;
                padding: 5px;
                border-radius: 30px;
              ">Cambiar imagen
                        </ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                    <ion-row>
                        <ion-col>
                            <ion-row>
                                <ion-text class="label">Nombre del plato</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-input formControlName="nombrePlato" type="text" placeholder="Nombre del plato"></ion-input>
                            </ion-row>
                            <div class="errores-validaciones" style="width: 100%">
                                <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.nombrePlato">
                                    <div class="mensaje-error" *ngIf="formularioNuevoPlato.get('nombrePlato').hasError(validacion.type) && (formularioNuevoPlato.get('nombrePlato').dirty || formularioNuevoPlato.get('nombrePlato').touched)">
                                        <p>
                                            <ion-icon name="alert-circle"></ion-icon>
                                            {{validacion.message}}
                                        </p>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-row>
                                <ion-text class="label">Descripción del plato</ion-text>
                            </ion-row>
                            <ion-row>
                                <ion-textarea formControlName="descripcion" placeholder="Descripción del plato"></ion-textarea>
                            </ion-row>
                            <div class="errores-validaciones" style="width: 100%">
                                <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.descripcion">
                                    <div class="mensaje-error" *ngIf="formularioNuevoPlato.get('descripcion').hasError(validacion.type) && (formularioNuevoPlato.get('descripcion').dirty || formularioNuevoPlato.get('descripcion').touched)">
                                        <p>
                                            <ion-icon name="alert-circle"></ion-icon>
                                            {{validacion.message}}
                                        </p>
                                    </div>
                                </ng-container>
                            </div>
                            <!--  <ion-item lines="none" style="width: 100%;">
                            </ion-item> -->
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row style="
          text-align: center;
          padding-block: 5%;
          border-bottom: 2pt solid black;
        " *ngIf="detallePlato">
                <ion-col>
                    <ion-text (click)="marcarPlatoDisponible(this.platoNuevo, this.categoriaNuevoPlato)" *ngIf="!this.platoNuevo?.disponible" style="
              font-size: 20px;
              color: white;
              background-color: #9b6a6c;
              padding: 2%;
              border-radius: 10px;
            ">NO DISPONIBLE</ion-text>
                    <ion-text (click)="marcarPlatoNoDisponible(this.platoNuevo, this.categoriaNuevoPlato)" *ngIf="this.platoNuevo?.disponible" style="
              font-size: 20px;
              color: white;
              background-color: #33c91f;
              padding: 2%;
              border-radius: 10px;
            ">DISPONIBLE</ion-text>
                </ion-col>
            </ion-row>

            <ion-row style="border-bottom: 2pt solid black">
                <ion-col style="align-self: center">
                    <ion-row style="place-content: center">
                        <ion-text class="label">Alérgenos</ion-text>
                    </ion-row>
                    <ion-row style="text-align: center">
                        <ion-col *ngFor="let alergeno of this.platoNuevo?.alergenos">
                            <img style="width: 8vw; min-width: 65px; max-width: 90px" src="../../../../../assets/Iconos/Alergenos/{{alergeno}}.svg" />
                        </ion-col>
                        <ion-col style="align-self: center" *ngIf="this.variables.empleadoSesion.departamento.id == 0">
                            <ion-icon *ngIf="this.platoNuevo?.alergenos.length > 0" style="font-size: clamp(40px, 3vw, 80px)" (click)="abrirPopoverAlergenos()" color="success" name="add-circle"></ion-icon>
                            <ion-icon *ngIf="this.platoNuevo?.alergenos.length == 0" style="font-size: clamp(28px, 2vw, 35px)" (click)="abrirPopoverAlergenos()" color="success" name="add-circle"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-row style="place-content: center; align-self: center">
                        <ion-col size="4" style="align-self: center">
                            <ion-text class="label">Precio del plato</ion-text>
                        </ion-col>
                        <ion-col size="5" style="text-align: end; border-bottom: 2pt solid">
                            <ion-input *ngIf="this.variables.empleadoSesion.departamento.id == 0" formControlName="precio" style="font-size: clamp(30px, 2.5vw, 50px)" min="0.00" inputmode="decimal" step="0.50" type="number" placeholder="8.50"></ion-input>
                            <ion-input *ngIf="this.variables.empleadoSesion.departamento.id != 0" formControlName="precio" style="font-size: clamp(30px, 2.5vw, 50px)" min="0.00" inputmode="decimal" step="0.50" type="number" placeholder="8.50" readonly="true"></ion-input>
                        </ion-col>
                        <ion-col style="
                text-align: start;
                align-self: center;
                font-size: clamp(25px, 2.5vw, 45px);
              " size="3">
                            <ion-text>€</ion-text>
                        </ion-col>
                        <div class="errores-validaciones" style="width: 100%">
                            <ng-container *ngFor="let validacion of validaciones_mensajes_formulario.precio">
                                <div class="mensaje-error" *ngIf="formularioNuevoPlato.get('precio').hasError(validacion.type) && (formularioNuevoPlato.get('precio').dirty || formularioNuevoPlato.get('precio').touched)">
                                    <p>
                                        <ion-icon name="alert-circle"></ion-icon>
                                        {{validacion.message}}
                                    </p>
                                </div>
                            </ng-container>
                        </div>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="text-align: center">
                    <ion-button *ngIf="!this.detallePlato" [disabled]="this.formularioNuevoPlato.invalid" (click)="crearPlato()">
                        Añadir plato</ion-button>
                    <ion-button *ngIf="this.detallePlato && !this.platoCambiado()" [disabled]="this.formularioNuevoPlato.invalid" (click)="editarPlato()">Guardar plato</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>