<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button color="dark" (click)="cerrarPopover()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Lista de Alérgenos</ion-title>
    </ion-toolbar>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-header>

<ion-content>


    <ion-list>
        <ion-grid>
            <ion-row style="place-content: center;">
                <ion-col style="align-self: center;" size="auto" *ngFor="let alergeno of this.listaAlergenos" (click)="seleccionarAlergeno(alergeno)">
                    <img width="100px" [src]="alergeno?.url">
                    <ion-icon style="    position: absolute;
          top: 5%;
          left: 75%;
          font-size: 30px;
      " color="success" *ngIf="alergeno.seleccionado" name="checkmark-circle"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="text-align: center;">
                    <ion-button (click)="cerrarPopover()">Aceptar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
