<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Control de mesas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
        <ion-item style="width: 100%;" lines="none" class="ion-activatable ripple-parent" (click)="this.addNuevaEstancia()">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon slot="start" color="success" name="add-circle"></ion-icon>
            <ion-text>Añadir estancia nueva</ion-text>
        </ion-item>
    </ion-row>

    <!-- <ion-row style="height: 100px; text-align: center;">

    </ion-row> -->

    <ion-row *ngFor="let estancia of this.mesas" style="background-color: #E0C8B1;margin-bottom: 1%; border-radius: 10px;">
        <ion-row style="text-align: center; text-transform: uppercase; width: 100%;">
            <ion-col style="    background-color: #A3805F;border-radius: 20px;">
                <ion-text style="font-weight: bold; color: white;">{{estancia.nombreEstancia}}</ion-text>
            </ion-col>
        </ion-row>

        <ion-row style="background-color: white; width: 100%; margin: 2%; border-radius: 20px; color: black;">
            <ion-col (click)="addMesaEstancia(estancia)" class="ion-activatable ripple-parent" style="align-self: center; text-align: center;" size-xs="4" size-sm="4" size-md="3" size-lg="3" size-xl="3">
                <ion-ripple-effect></ion-ripple-effect>

                <ion-row style="place-content: center;">
                    <ion-icon style="font-size: clamp(35px,2vw,45px);" color="success" name="add-circle"></ion-icon>
                </ion-row>
                <ion-row style="place-content: center;font-size: clamp(15px,1.5vw,20px);">
                    <ion-text>Añadir mesa</ion-text>
                </ion-row>
            </ion-col>

            <ion-col [style.animation]="ticketPendienteDePago(mesa) ? 'agitar 1.5s infinite':''" class="ion-activatable ripple-parent" size-xs="4" size-sm="4" size-md="3" size-lg="3" size-xl="3" (click)="pulsarMesa(mesa,estancia)" *ngFor="let mesa of estancia.mesas">
                <ion-ripple-effect></ion-ripple-effect>

                <ion-row style="place-content: center; text-align: center;">
                    <ion-icon [color]="mesa.ocupada ? 'danger':'success'" style="font-size: clamp(35px,2vw,45px);" src="../../../assets/Iconos/restaurant-table-and-chairs-svgrepo-com.svg"></ion-icon>
                </ion-row>
                <ion-row style="place-content: center;text-align: center; font-size: clamp(15px,1.5vw,20px);">
                    <ion-text [style.color]="mesa.ocupada ? 'red':'green'">{{mesa.nombreMesa}}</ion-text>
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-row>



</ion-content>