<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Gestión de empleados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="success" (click)="addNuevoEmpleado()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-grid style="background-color: #e0c8b1; border-radius: 10px">
        <ion-row style="background-color: white; border-radius: 10px; margin-block: 1%">
            <ion-col>
                <ion-text style="font-weight: bold">Seleccionar empleado</ion-text>
                <ionic-selectable (onChange)="pwdParaCambiar = empleadoSeleccionado.password; nuevoDepartamento =  empleadoSeleccionado?.departamento?.id.toString()" [canSearch]="true" closeButtonText="Cancelar" searchPlaceholder="Buscar empleado" itemTextField="nombre"
                    [(ngModel)]="empleadoSeleccionado" itemValueField="id" [items]="this.variablesService.empleadosEmpresa">
                    <ng-template ionicSelectableItemTemplate let-empleado="item" let-empleadoSelected="isItemSelected">
                        {{empleado.nombre}} ({{empleado.departamento.nombreDepartamento}})
                    </ng-template>
                </ionic-selectable>
            </ion-col>
        </ion-row>

        <ion-row class="ion-activatable ripple-parent" (click)="addNuevoEmpleado()">
            <ion-item lines="none" class="ion-activatable ripple-parent" style="width: 100%; border-radius: 10px; background-color: white">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon slot="end" color="success" name="add-circle"></ion-icon>
                <ion-text>Registrar empleado</ion-text>
            </ion-item>
        </ion-row>

        <ion-row style="
        background-color: #a3805f;
        border-radius: 20px;
        justify-content: center;
        color: white;
        font-weight: bold;
        margin-block: 2%;
        padding-block: 1%;
      ">
            <ion-text>Datos del empleado</ion-text>
        </ion-row>
        <ion-row style="background-color: white; border-radius: 10px; margin-block: 1%">
            <ion-col>
                <ion-label style="font-weight: bold">Departamento</ion-label>
                <ion-select placeholder="Departamento" [(ngModel)]="nuevoDepartamento" interface="popover">
                    <ion-select-option value="{{departamento?.id.toString()}}" *ngFor="let departamento of this.variablesService.departamentos">{{departamento?.nombreDepartamento}}</ion-select-option>
                </ion-select>
                <!--  <ion-input *ngIf="this.variablesService?.empleadosEmpresa?.length > 0 && empleadoSeleccionado" value="{{this.departamentoActual(empleadoSeleccionado)?.nombreDepartamento}}" readonly>
                </ion-input> -->
            </ion-col>
        </ion-row>
        <ion-row style="background-color: white; border-radius: 10px; margin-block: 1%">
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                <ion-label style="font-weight: bold">Nombre</ion-label>
                <ion-input value="{{empleadoSeleccionado?.nombre}}" readonly></ion-input>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                <ion-label style="font-weight: bold">Email</ion-label>
                <ion-input value="{{empleadoSeleccionado?.email}}" readonly>
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="empleadoSeleccionado?.email == this.variablesService.empleadoSesion?.email" style="background-color: white; border-radius: 10px; margin-block: 1%">
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
                <ion-label style="font-weight: bold">Contraseña</ion-label>
                <ion-input [(ngModel)]="pwdParaCambiar" value="{{empleadoSeleccionado?.password}}"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="text-align: center; align-self: center" *ngIf="this.empleadoSeleccionado">
                <ion-button [disabled]="comprobarPwd()" (click)="actualizarEmpleado()" color="success">Actualizar</ion-button>
            </ion-col>
            <ion-col style="text-align: center; align-self: center">
                <ion-button [disabled]="this.variablesService?.empleadoSesion?.id == this.empleadoSeleccionado?.id && this.variablesService.empleadoSesion?.departamento?.id == 0" (click)="eliminarEmpleado(empleadoSeleccionado)" color="danger">Eliminar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
