<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de tickets</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row style="background-color: #A3805F;">
            <ion-col>
                <ion-row>

                    <ion-col>
                        <ion-label style="color: white;
                font-weight: bold;" position="floating">Filtrar por fecha</ion-label>
                        <ion-datetime style="background-color: white;
                border-radius: 20px; margin: 1%;" placeholder="Selecciona una fecha" [(ngModel)]="fechaSeleccionada" monthShortNames="{{monthShortNames}}" cancelText="Cancelar" doneText="Aceptar" presentation="date"></ion-datetime>

                    </ion-col>
                </ion-row>
                <ion-row *ngIf="fechaSeleccionada" (click)="fechaSeleccionada = null" style="text-align: center;">
                    <ion-col>
                        <ion-button color="light">Borrar filtro</ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4" *ngFor="let ticket of filtrarTickets()">
                <ion-row style="border: 1pt solid black; border-radius: 10px">
                    <ion-col>
                        <ion-row style="
                place-content: center;
                font-weight: bold;
                border-bottom: 1pt solid black;
              ">
                            <ion-text>{{ticket.fechaTicket}}</ion-text>
                        </ion-row>
                        <ion-row style="font-weight: bold; place-content: center">
                            <ion-text>{{ticket.mesa.nombreMesa}}</ion-text>
                        </ion-row>
                        <ion-row style="
                border-bottom: 1pt solid;
                border-style: none none dashed none;
              ">
                            <ion-col>Uds</ion-col>
                            <ion-col>Producto</ion-col>
                            <ion-col style="text-align: end; align-self: center">Importe</ion-col>
                        </ion-row>
                        <ion-list style="
                max-height: 160px;
                overflow-y: scroll;
                background-color: white;
              ">
                            <ion-row *ngFor="let plato of comandaPlatosSinRepetir(ticket)">
                                <ion-col size="2" style="text-align: start; align-self: center">
                                    {{cantidadEnTicket(ticket,plato)}}
                                </ion-col>
                                <ion-col size="6" style="text-align: start; align-self: center">
                                    <ion-row> {{plato.nombrePlato}} </ion-row>
                                    <ion-row *ngIf="plato.observaciones">
                                        *{{plato.observaciones}}
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4" style="text-align: end; align-self: center">
                                    {{(plato.precio * cantidadEnTicket(ticket,plato)).toFixed(2)}} €
                                </ion-col>
                            </ion-row>
                        </ion-list>
                        <ion-row style="border-bottom: 2pt solid black;">
                            <ion-col style="font-weight: bold; text-align: start;" size="6">TOTAL</ion-col>
                            <ion-col style="text-align: center;" size="6"><strong style="font-size: clamp(20px,1.5vw,25px);">{{sumaTicketActual(ticket)}}</strong> €</ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
