<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="cerrarModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Pedir platos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list style="overflow-y: scroll;">
        <ion-grid *ngFor="let categoria of this.variables.carta" style="margin: 1%; background-color: #E0C8B1; border-radius: 10px;">
            <ion-row style="text-align: center; text-transform: uppercase;">
                <ion-col style="background-color: #A3805F;border-radius: 20px;">
                    <ion-text style="font-weight: bold; color: white;">{{categoria.nombreCategoria}}</ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list style="background-color: #E0C8B1;">
                        <ion-grid *ngFor="let plato of categoria.platos" style="padding: 0; background-color: white; border-radius: 15px; margin-block: 1%;">
                            <ion-row (click)="clickarPlato(plato)" style="background-color: #A3805F;">
                                <ion-col size="9">
                                    <ion-text style="color: white;font-weight: bold;font-size: clamp(14px,1.5vw,20px);">
                                        {{plato.nombrePlato}}</ion-text>
                                </ion-col>
                                <ion-col style="text-align: center;
                                background-color: brown;
                                color: white;
                                font-size: clamp(15px, 1.5vw, 25px);
                                font-weight: bold;
                                border-radius: 30px 30px 0px 0px;" size="3" *ngIf="cantidadEnComanda(plato) > 0 ">
                                    <ion-text>{{cantidadEnComanda(plato)}}</ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row (click)="clickarPlato(plato)" style="color: black;">
                                <ion-col size="8">
                                    <ion-col *ngIf="plato.alergenos.length == 0" size="auto" style="align-self: center;place-content: center;padding: 0%;">
                                        <img style="width: 4vw;min-width: 20px;max-width: 35px; visibility: hidden;" src="../../../../../assets/Iconos/Alergenos/sinTexto/Apio.svg">
                                    </ion-col>
                                    <ion-col size="auto" style="align-self: center;place-content: center;padding: 0%; margin: 1%;" *ngFor="let alergeno of plato.alergenos">
                                        <ng-container *ngIf="plato.alergenos.length > 0">
                                            <img style=" width: 4vw;min-width: 20px;max-width: 35px;" src="../../../../../assets/Iconos/Alergenos/sinTexto/{{alergeno}}.svg">
                                        </ng-container>
                                    </ion-col>
                                </ion-col>
                                <ion-col size="4" style="text-align: center;align-self: center;font-weight: bold;">
                                    <ion-text *ngIf="plato.disponible">{{plato.precio.toFixed(2)}}€</ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="platoClickado == plato.id">
                                <ion-col (click)="addPlatoEspecial(plato)" class="ion-activatable ripple-parent" size="6" style="align-self: center; text-align: center;">
                                    <ion-text style="color: white;
                                    background-color: #3880FF;
                                    border-radius: 5px;
                                    cursor:pointer; padding: clamp(2px,0.5vw,8px);">
                                        <ion-ripple-effect></ion-ripple-effect>
                                        Observación
                                    </ion-text>
                                </ion-col>
                                <ion-col class="ion-activatable ripple-parent" (click)="deletePlatoComanda(plato)" size="2" style="text-align: center;font-size: clamp(20px,1.5vw,30px);">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    <ion-icon color="danger" style="cursor:pointer;" name="remove-circle"></ion-icon>
                                </ion-col>
                                <ion-col size="2" style="text-align: center; font-weight: bold; align-self: center;">
                                    {{cantidadEnComanda(plato)}}
                                </ion-col>
                                <ion-col class="ion-activatable ripple-parent" (click)="addPlatoComanda(plato)" size="2" style="text-align: center;font-size: clamp(20px,1.5vw,30px);">
                                    <ion-ripple-effect></ion-ripple-effect>
                                    <ion-icon color="success" style="cursor:pointer;" name="add-circle"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

</ion-content>
<ion-footer>
    <ion-grid *ngIf="this.comandaActual?.platos?.length > 0" style="border-top: 2pt solid black;background-color: #E0C8B1;border-bottom: 1pt solid;">
        <ion-row *ngIf="verTicketComanda" style="background-color: white;">
            <ion-col>
                <ion-row style="    border-bottom: 1pt solid;
            border-style: none none dashed none; background-color: white;color: black;">
                    <ion-col>Uds</ion-col>
                    <ion-col>Producto</ion-col>
                    <ion-col style="text-align: end;
                align-self: center;">Importe</ion-col>
                </ion-row>
                <ion-list style="max-height: 160px;
            overflow-y: scroll; background-color: white;color: black;">
                    <ion-row *ngFor="let plato of comandaPlatosSinRepetir()">
                        <ion-col size="3" style="text-align: start;
                align-self: center;">{{cantidadEnComanda(plato)}}</ion-col>
                        <ion-col size="6" style="text-align: start;
                align-self: center;">
                            <ion-row>
                                {{plato.nombrePlato}}
                            </ion-row>
                            <ion-row *ngIf="plato.observaciones">
                                *{{plato.observaciones}}*
                            </ion-row>
                        </ion-col>
                        <ion-col size="3" style="text-align: end;
                align-self: center;">{{(plato.precio * cantidadEnComanda(plato)).toFixed(2)}} €</ion-col>
                    </ion-row>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>

            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" style="text-align: center; font-weight: bold; align-self: center;">
                TOTAL
            </ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" style="text-align: center; font-weight: bold; align-self: center;">
                {{this.cuentaTotal().toFixed(2)}}€
            </ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" style="text-align: center; font-weight: bold; align-self: center;">
                <ion-button (click)="verTicketComanda = !verTicketComanda">
                    Ver comanda<br> ({{this.comandaActual?.platos?.length}})
                </ion-button>
            </ion-col>
            <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" style="text-align: center; font-weight: bold; align-self: center;">
                <ion-button (click)="addComanda()" color="success">
                    Crear comanda
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
