.textoPlatoSeleccionado {
    position: absolute;
    bottom: 0px;
    width: 10vw;
    text-align: center;
    color: white;
    max-width: 150px;
    background-color: #3880FF;
    border-radius: 20px 20px 0px 0px;
    left: 10px;
    font-size: clamp(12px, 1.5vw, 20px);
    font-weight: bold;
    box-shadow: 2px 0px 4px 3px rgb(0 0 0 / 20%);
}

.ion-col-platoPrecio {
    padding: 0;
    align-self: center;
    font-size: clamp(15px, 1.5vw, 21px);
    text-align: end;
    align-self: center;
    font-weight: bold;
}
