<ion-app>

    <ion-split-pane contentId="main-content">

        <ion-menu contentId="main-content" *ngIf="!this.variables.accesoCliente">

            <ion-content>
                <ion-list id="inbox-list" *ngIf="this.variables?.loginCorrecto == true">

                    <ion-grid style="background-color: #E0C8B1;
                    color: black;
                    border-radius: 10px;">
                        <ion-row style="text-transform: uppercase;
                        font-weight: bold;
                        font-size: clamp(17px,1.5vw,20px);
                        background-color: #A3805F;
                        color: white;
                        border-radius: 10px;
                        place-content: center;">
                            {{this.variables.departamentos[this.variables.empleadoSesion.departamento.id].nombreDepartamento}}</ion-row>
                        <ion-row style="font-size: clamp(15px,1.5vw,17px);">{{this.variables.empleadoSesion.nombre}}</ion-row>
                        <ion-row style="font-size: clamp(13px,1.5vw,15px);">{{this.variables.empleadoSesion.email}}</ion-row>
                    </ion-grid>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of this.variables.appPages; let i = index">
                        <ion-item style="margin-block: 2%;" [style.background-color]="this.router.url == p.url ?'#E0C8B1':''" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon style="font-size: 30px;" *ngIf="p.src" [src]="p.src" slot="start"></ion-icon>
                            <ion-icon style="font-size: 30px;" *ngIf="!p.src" name={{p.icon}} slot="start"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>

                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" (click)="cerrarSesion()">
                        <ion-item style="margin-block: 2%;" routerDirection="root" lines="none" detail="false" [routerLink]="[]" routerLinkActive="">
                            <!-- <ion-icon style="font-size: 30px;" *ngIf="p.src" [src]="p.src" slot="start"></ion-icon> -->
                            <!-- <ion-icon style="font-size: 30px;" *ngIf="!p.src" name={{p.icon}} slot="start"></ion-icon> -->
                            <ion-icon slot="start" style="font-size: 30px;" name="log-out"></ion-icon>
                            <ion-label>Cerrar sesión</ion-label>
                        </ion-item>

                    </ion-menu-toggle>
                </ion-list>

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
